$black: #000;
$white: #fff;

$primary: #ff2828;
$secondary: $black;


// shades of gray
$base1: #1a1919;
$base2: #333231;
$base3: #4d4c4a;
$base4: #757472;
$base5: #999894;
$base6: #b8b6b2;
$base7: #d1cfcb;
$base8: #e6e4df;
$base9: #f6f6f6;
$base0: #fcfdf9;