
// SCREEN

$xs: 321px;
$sm: 481px;
$md: 769px; // Desktop
$lg: 1025px;
$xl: 1200px;


// TYPE SIZES
// http://csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/

$giga: 80;
$mega: 72;
$kilo: 64;

$alpha: 48; // h1
$beta: 36; // h2
$gamma: 28; // h3
$delta: 22; // h4
$epsilon: 18; // h5, p
$zeta: 16; // h6

$milli: 14; 
$micro: 12; 
$nano: 11; 